@keyframes tShadow {
    0% {
        text-shadow: 3px 3px 3px red;
    } 25% {
        text-shadow: 6px 3px 5px grey;
    } 50% {
        text-shadow: 6px 6px 3px red;
    } 75% {
        text-shadow: 3px 6px 5px grey;
    } 100% {
        text-shadow: 3px 3px 3px red;
    }
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    font-variant: small-caps;
    animation: tShadow 2s infinite;
    color: white;
}

div {
    width: 100%;
    text-align: center;
    position: relative;
}

canvas {
    margin-top: 100px;
    display: inline;
    border: 2px solid white;
}

button {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(230, 230, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    transition-duration: 0.5s;
    width: 500px;
    height: 100px;
    margin: 70px;
}

button:hover {
    background-color: #000000;
    color: #FFFBFE;
    box-shadow: 0 0px 100px white;
}

#play:hover {
    color: deepskyblue;
    box-shadow: 0 0px 100px deepskyblue;
}

#quit:hover {
    color: red;
    box-shadow: 0 0px 100px red;
}